table.list {width: 100%;}

td, th {text-align: left;
    padding: 2px;}

input[type=text] {width: 100%;}

.submit {width: 30%;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;}

.submit:hover {background-color: darkgray;}

a {cursor: pointer;
    text-decoration: underline;
    color: blue;
    margin-right: 4px;}

.hide {display: none;}